* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body, html {
    height: 100%;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    flex-direction: column; /* Empilha os elementos verticalmente */
}

header {
    /* Estilos do cabeçalho */
}

form {
    display: flex;
    align-items: center; /* Centraliza os elementos dentro do formulário */
    margin-top: 20px; /* Adiciona um espaço entre o cabeçalho e o formulário */
}

label,
input,
button {
    display: inline-block; /* Permite que os elementos fiquem lado a lado */
}

form button {
    margin-left: 10px; /* Adiciona um espaço entre o campo de entrada e o botão */
    padding: 12px 20px; /* Ajusta o padding do botão */
    font-weight: bold;
}

form input {
    padding: 12px; /* Ajusta o padding do input */
    width: 300px; /* Define a largura do input */
}

ul li {
    margin: 15px 0; /* Adiciona um espaço entre os itens da lista */
    text-align: center;
    list-style-position: inside
}
form li{
    
}
.concluido {
    text-decoration: line-through;
}